[
  {
    "username": "goodreads-user-id",
    "api_key": "",
    "type": "ebook",
    "list_name": "my-fav-authors",
    "feedDestination": "###DOWNLOAD_DIR###/finished/ebooks",
    "minorFeeds": [
      {
        "url": "http://site.com/rss",
        "minTime": "24",
        "minRatio": "1.5"
      },
      {
        "url": "http://site2.com/rss",
        "minTime": "72",
        "minRatio": "1.5"
      },
      {
        "url": "http://site2.com/rss?somefiler=1",
        "minTime": "24",
        "minRatio": "1.5"
      }
    ]
  }
]